.Container-principal__form__content {
  &__label {
    font-weight: 700;
    font-size: 25px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
  }
}
