// Importamos el archivo de variables
@import '../../../assets/styles/variables.scss';

.Container-principal__acount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
  
    &__p {
      margin: 0 15px;
      color: $text;
    }
  }

  